<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
    {% if 'usuario_nome' in session %}
        <span>Bem vindo {{ session['usuario_nome'] }}!</span>
        <a href="/logout">Logout</a>
        <a href="/pedidos_route">Pedidos</a>
        <a href="/sobre">Sobre</a>
        <a href="/perfil">
        <img src="{{ session['usuario_image'] }}" alt="icone">
        </a>
    {% else %}
        <a href="/login">Login</a>
        <a href="/sobre">Sobre</a>
        <a href="/pedidos_route">Pedidos</a>
    {% endif %}
    <form action="/search" method="post">
        <input type="text" id="search" placeholder="pesquisar produto" name="search">
    </form>
</nav>

<div id='products-grid'>
    {% for product in products %}
        <div class="product-card">
            <img src="{{ product['img'] }}" class="product-image" alt="{{ product['nome'] }}">
            <h3>{{ product['nome'] }}</h3>
            <p>{{ product['descricao'] }}</p>
            <span class="price">R$ {{ "%.2f"|format(product['preco'])|replace('.', ',') }}</span>
            <button onclick="comprarProduto()">Comprar</button>
        </div>
    {% endfor %}
</div>

{% if products|length == 0 %}
    <p style="color: white; margin-top: 20px;">Nenhum prato encontrado com esse nome.</p>
    <a href="/" style="color: #7289DA;">Ver todo o cardápio</a>
{% endif %}
</div>
<script src="../js/script.js"></script>
</body>
</html>