<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
    {% if 'usuario_nome' in session %}
        <span>Bem vindo {{ session['usuario_nome'] }}!</span>
        <a href="/logout">Logout</a>
        <a href="/pedidos_route">Pedidos</a>
        <a href="/sobre">Sobre</a>
        <a href="/perfil">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/020/911/748/small/user-profile-icon-profile-avatar-user-icon-male-icon-face-icon-profile-icon-free-png.png" alt="icone">
        </a>
    {% else %}
        <a href="/login">Login</a>
        <a href="/sobre">Sobre</a>
        <a href="/pedidos_route">Pedidos</a>
    {% endif %}
</nav>
</body>
</html>