<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
    {% if 'usuario_nome' in session %}
        <span style="color: yellow;">Bem vindo {{ session['usuario_nome'] }}!</span>
        <a href="/logout">Logout</a>
        <a href="/pedidos_route">Pedidos</a>
        <a href="/sobre">Sobre</a>
        <a href="/perfil">Minha conta</a>
    {% else %}
        <a href="/login">Login</a>
        <a href="/sobre">Sobre</a>
        <a href="/pedidos_route">Pedidos</a>
    {% endif %}
</nav>
</body>
</html>