<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>
    <link rel="stylesheet" href="../static/pedidos.css">
</head>
<body>
    <h1>Faça seu Pedido</h1>
    <nav>
    {% if 'usuario_nome' in session %}
        <span>Bem vindo {{ session['usuario_nome'] }}!</span>
        <a href="/index">Inicio</a>
        <a href="/logout">Logout</a>
        <a href="/sobre">Sobre</a>
        <a href="/perfil">
        <img src="{{ session['usuario_image'] }}" alt="icone">
        </a>
    {% else %}
        <a href="/login">Login</a>
        <a href="/index">Inicio</a>
        <a href="/sobre">Sobre</a>
    {% endif %}   
    </nav>
    <div class="container">
<form action="/pedido" method="post">
    <p>Nome:</p>
    <input type="text" name="nome" required placeholder="Seu nome">
    <p>Endereço</p>
    <input type="text" name="endereco" required placeholder="Seu Endereço">
    <p>Selecione seu item:</p>
    <select name="item" required>
        {% for product in products %}
            <option value="{{ product['nome'] }}">
                {{ product['nome'] }} - R$ {{ "%.2f"|format(product['preco'])|replace('.', ',') }}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Finalizar Pedido</button>
    <a href="/consultar-pedido">Consultar Pedido</a>
</form>
</div>
</body>
</html>