<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>
    <link rel="stylesheet" href="../static/pedidos.css">
</head>
<body>
    <h1>Faça seu Pedido</h1>
    <nav>
    {% if 'usuario_nome' in session %}
        <span>Bem vindo {{ session['usuario_nome'] }}!</span>
        <a href="/index">Inicio</a>
        <a href="/logout">Logout</a>
        <a href="/sobre">Sobre</a>
        <a href="/perfil">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/020/911/748/small/user-profile-icon-profile-avatar-user-icon-male-icon-face-icon-profile-icon-free-png.png" alt="icone">
        </a>
    {% else %}
        <a href="/login">Login</a>
        <a href="/index">Inicio</a>
        <a href="/sobre">Sobre</a>
    {% endif %}   
    </nav>
    <div class="container">
        <form action="/pedido" method="post">
            <p>Nome:</p>
            <input type="text" placeholder="Seu Nome" name="nome">
            <p>Pedido:</p>
            <select name="item" required style="width: 100%; padding: 8px; border-radius: 4px;">
                <option value="" disabled selected>Escolha o produto...</option>
                <option value="Pizza de Calabresa">Pizza de Calabresa</option>
                <option value="X-Burguer">X-Burguer</option>
                <option value="Batata Frita">Batata Frita</option>
                <option value="Refrigerante 2L">Refrigerante 2L</option>
            </select>
            <p>Endereço:</p>
            <input type="text" placeholder="Seu Endereço" name="endereco"><br>
            <p>Pra finalizar,nós diga seu telefone pra nós te notificarmos,quando ficar pronto:</p>
            <input type="text" placeholder="Seu Telefone" name="telefone"><br>
            <button>Enviar Pedido!</button>
        </form>
    </div>
</body>
</html>