<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>
    <link rel="stylesheet" href="../static/pedidos.css">
</head>
<body>
    <h1>Faça seu Pedido</h1>
    <nav>
    {% if 'usuario_nome' in session %}
        <span style="color: yellow;">Bem vindo {{ session['usuario_nome'] }}!</span>
        <a href="/index">Inicio</a>
        <a href="/logout">Logout</a>
        <a href="/sobre">Sobre</a>
        <a href="/perfil">Minha conta</a>
    {% else %}
        <a href="/login">Login</a>
        <a href="/index">Inicio</a>
        <a href="/sobre">Sobre</a>
    {% endif %}   
    </nav>
    <div class="container">
        <form action="/pedido" method="post">
            <p>Nome:</p>
            <input type="text" placeholder="Seu Nome" name="nome">
            <p>Pedido:</p>
            <input type="text" placeholder="Seu Pedido" name="item">
            <p>Endereço:</p>
            <input type="text" placeholder="Seu Endereço" name="endereco"><br>
            <button>Enviar Pedido!</button>
        </form>
    </div>
</body>
</html>