<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="../static/carrinho.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">
</head>
<body>
    <nav>
        {% if 'usuario_nome' in session %}
            <span class="user-greeting">Bem-vindo {{ session['usuario_nome'] }}!</span>
            <div class="nav-links">
                <a href="/sobre">Sobre</a>
                <a href="/logout" class="logout-btn">Logout</a>
                <a href="/index">Voltar</a>
                <a href="/perfil" class="profile-link">
                    <img src="{{ session['usuario_image'] }}" alt="Foto de Perfil">
                </a>
            </div>
        {% else %}
            <div class="nav-links">
                <a href="/sobre">Sobre</a>
                <a href="/login">Login</a>
            </div>
        {% endif %}
    </nav>

    <div class="cart-container">
        <h1>Meu Carrinho</h1>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% if carrinho %}
            <div class="cart-list">
                {% for produto in carrinho %}
                    <div class="cart-item">
                        <img src="{{ produto.img }}" alt="{{ produto.nome }}">

                        <div class="cart-info">
                            <h2>{{ produto.nome }}</h2>
                            <p>{{ produto.descricao }}</p>
                            <span class="cart-price">R$ {{ "%.2f"|format(produto.preco) }}</span>
                        </div>

                        <div class="cart-actions">
                          <a href="{{ url_for('carrinho.deletar_item', id=produto.id) }}">
                            <button class="remove-btn">Remover</button>
                        </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="cart-summary">
                <h2>Total</h2>
                <div class="total">
                    R$ {{ "%.2f"|format(carrinho | sum(attribute='preco')) }}
                </div>
                <button class="checkout-btn">Finalizar Compra</button>
            </div>

        {% else %}
            <div class="empty-cart">
                <p>Seu carrinho está vazio 🛒</p>
                <a href="/index" class="checkout-btn" style="margin-top:20px; display:inline-block;">
                    Voltar às compras
                </a>
            </div>
        {% endif %}
    </div>
</body>
</html>