<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Finalizar Compra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main class="container">
        {% if product %}
            <h1>Finalizando: {{ product['nome'] }}</h1>
            <div class="product-info">
                <img src="{{ product['img'] }}" width="200">
                <p>{{ product['descricao'] }}</p>
                <p><strong>Preço: R$ {{ product['preco'] }}</strong></p>
            </div>

            <form action="{{ url_for('carrinho.adicionar', id=product['id']) }}" method="POST">
                <button type="submit">Adicionar ao Carrinho</button>
            </form>
            
            <a href="{{ url_for('home.index') }}">Voltar</a>
        {% else %}
            <h1>Produto não encontrado</h1>
            <a href="/index">Voltar para a loja</a>
        {% endif %}
    </main>
</body>
</html>