<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Compra</title>
    <link rel="stylesheet" href="../static/comprar.css">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
</head>
<body>
    <nav>
        {% if 'usuario_nome' in session %}
            <span class="user-greeting">Bem-vindo, {{ session['usuario_nome'] }}!</span>
            <div class="nav-links">
                <a href="/feedback">Feedbacks</a>
                <a href="/sobre">Sobre</a>
                <a href="/logout" class="logout-btn">Logout</a>
                <a href="/index">Voltar</a>
                <a href="/perfil" class="profile-link">
                    <img src="{{ session['usuario_image'] }}" alt="Foto de Perfil">
                </a>
            </div>
        {% else %}
            <div class="nav-links">
                <a href="/sobre">Sobre</a>
                <a href="/login">Login</a>
            </div>
        {% endif %}
    </nav>

    <main class="container">
        {% if 'usuario_nome' in session %}
            <h1>Finalizar Compra</h1>
            
            {% if product %}
                <div class="product-info">
                    <img src="{{ product['img'] }}" alt="{{ product['nome'] }}" class="checkout-img">
                    <div class="details">
                        <h2>{{ product['nome'] }}</h2>
                        <p class="description">{{ product['descricao'] }}</p>
                        <p class="price">R$ {{ product['preco'] }}</p>
                    </div>
                </div>
            {% else %}
                <p>Erro: Informações do produto não encontradas.</p>
            {% endif %}
                
                <form action="/confirmar-compra" method="POST">
                    <button type="submit" class="confirm-btn">Confirmar Pagamento</button>
                </form>
                <br>
                <form action="/adicionar-carinho/{{product['id']}}">
                    <button type="submit" class="confirm-btn">Adicionar ao carinho</button>
                </form>
            </section>
        {% else %}
            <section class="login-required">
                <h1>Acesso Restrito</h1>
                <p>Você precisa estar logado para finalizar a compra.</p>
                <a href="/login" class="login-redirect">Ir para Login</a>
            </section>
        {% endif %}
    </main>
</body>
</html>