<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">
</head>
<body>
<nav>
    <div class="nav-links">
        {% if 'usuario_nome' in session %}
            <span class="welcome-msg">Bem vindo {{ session['usuario_nome'] }}!</span>
            <a href="/sobre">Sobre</a>
        
            {% if session['is_admin'] %}
                <a href="/admin">Tela Admin | Feedbacks</a>
                <a href="/admin_user">Tela  Admin | Usuarios</a>
                <a href="/admin_produtos">Tela Admin | Produtos</a>
            {% endif %}
            
            <a href="/logout">Logout</a>
            <a href="/feedback">Feedbacks</a>
            <a href="/perfil" class="profile-link">
                <img src="{{ session['usuario_image'] }}" alt="perfil">
            </a>
            <a href="/carinho" class="profile-link">
                <img src="{{ url_for('static', filename='img/carrinho.webp') }}" alt="carrinho">
            </a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/sobre">Sobre</a>
        {% endif %}
    </div>

    <form action="/search" method="post">
        <input type="text" id="search" placeholder="pesquisar produto" name="search">
    </form>
</nav>

<div id='products-grid'>
    {% for product in products %}
        <div class="product-card">
            <img src="{{ product['img'] }}" class="product-image" alt="{{ product['nome'] }}">
            <h3>{{ product['nome'] }}</h3>
            <p>{{ product['descricao'] }}</p>
            <span class="price">R$ {{ "%.2f"|format(product['preco'])|replace('.', ',') }}</span>
            <a href="/products/{{ product['id'] }}">
                <button>Comprar</button>
            </a>
        </div>
    {% endfor %}
</div>

{% if products|length == 0 %}
    <p style="color: white; margin-top: 20px;">Nenhum prato encontrado com esse nome.</p>
    <a href="/" style="color: #7289DA;">Ver todo o cardápio</a>
{% endif %}
</body>
</html>
