<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../static/perfil.css">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
</head>
<body>
    <nav>
        <span>Bem vindo! {{session['usuario_nome']}}</span>
        <a href="/sobre" id="link">Sobre</a>
        <a href="/index" id="link">Inicio</a>
        <a href="">Deletar conta</a>
    </nav>
    <h1>Perfil de {{ session['usuario_nome'] }}</h1>
    <p>Mudar Sua imagem(mande a url da imagem)</p>
    <img src="{{ session['usuario_image'] }}" alt="Imagem de Perfil" width="150" height="150">
    <form action="/upload-image" method="post" enctype="multipart/form-data">
        <input type="text" name="img" placeholder="URL da imagem" required>
        <button type="submit">Enviar Imagem</button>
    </form>
    <a href="/index">Voltar ao Início</a>
</body>
</html>