<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil | ChatEat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='perfil.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">
</head>
<body>
    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} flash-message">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <h1>Perfil do Usuário</h1>
        {% if session['is_admin'] %}
        <div class="profile-card">
            <img src="{{ session['usuario_image'] }}" alt="Foto de Perfil" class="profile-img">
            
            <section class="settings">
                <h3>Alterar Foto</h3>
                <form action="/upload-image" method="post">
                    <input type="url" name="img" placeholder="Cole a URL da imagem aqui" required>
                    <button type="submit" class="btn-save">Atualizar Foto</button>
                </form>
            </section>
            {% else %}
            <div class="profile-card">
            <img src="{{ session['usuario_image'] }}" alt="Foto de Perfil" class="profile-img">
            
            <section class="settings">
                <h3>Alterar Foto</h3>
                <form action="/upload-image" method="post">
                    <input type="url" name="img" placeholder="Cole a URL da imagem aqui" required>
                    <button type="submit" class="btn-save">Atualizar Foto</button>
                </form>
            </section>
            
            <hr>

            <section class="danger-zone">
                <h3>Zona de Perigo</h3>
                <form action="/deletar/{{ session['usuario_id'] }}" method="post" onsubmit="return confirm('Tem certeza que deseja excluir sua conta? Esta ação é irreversível.')">
                    <button type="submit" id="delete">Deletar Minha Conta</button>
                </form>
            </section>
        </div>
        {% endif %}
        <a href="/index" class="back-link">← Voltar ao Início</a>
    </main>
<script src="{{ url_for('static', filename='script/timer.js') }}"></script>
</body>
</html>
