<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
</head>
<body>
    <nav>
    {% if 'usuario_nome' in session %}
        <span>Bem vindo {{ session['usuario_nome'] }}!</span>
        <a href="/index">Inicio</a>
        <a href="/logout">Logout</a>
        <a href="/perfil" class="profile-link">
         <img src="{{ session['usuario_image'] }}" alt="icone">
        </a>
    {% else %}
        <a href="/index">Inicio</a>
        <a href="/login">Login</a>
    {% endif %}
    </nav>
    <h1>Sobre Nós</h1>
</body>
</html>