<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}">
</head>
<body>
     <nav>
        <span style="font-weight: bold; font-size: 1.2rem;">Painel Admin-Usuarios</span>
        <div class="nav-links">
                <span class="welcome-msg" style="color: var(--text-muted);">Olá, {{ session['usuario_nome'] }}</span>
                <a href="{{ url_for('home.index') }}">Início</a>
                <a href="/sobre">Sobre</a>
                <a href="/logout" style="color: #ed4245;">Sair</a>
                <a href="/perfil" class="profile-link">
                    <img src="{{ session['usuario_image'] }}" alt="Perfil">
                </a>
        </div>
    </nav>

    <div class="forms-container">
        <form action="" method="POST" class="input form-delete" onsubmit="return confirm('Tem certeza que deseja banir esse usuario?')">
            <p>Digite um id do cliente pra deletar</p>
            <input type="number" name="id" required placeholder="ID para banir">
            <button type="submit">Banir Usuário</button>
        </form>

        <form action="" method="POST" class="input form-admin">
            <p>Me diga um usuario pra dar adminstração</p>
            <input type="number" name="id_admin" required placeholder="ID para admin">
            <button type="submit">Conceder Admin</button>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Img</th>
                <th>Nascimento</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
            {% for c in cliente %}
            <tr>
                <td data-label="Id">{{ c.id }}</td>
                <td data-label="Nome">{{ c.usuario }}</td>
                <td data-label="Email">{{ c.email }}</td>
                <td data-label="Img">
                    <img src="{{ c.foto_perfil }}" class="user-img-table">
                </td>
                <td data-label="Nascimento">{{ c.data_nascimento }}</td>
                <td data-label="Admin">{{ 'Sim' if c.is_admin == 1 else 'Não' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>