<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Verificar E-mail</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Validar E-mail</h1>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form action="/confirmar_email" method="post">
            <p>Insira o código enviado para seu e-mail:</p>
            <input type="text" name="codigo" placeholder="Ex: A1B2C3" maxlength="6" required>
            <button type="submit">Confirmar</button>
        </form>
    </div>
</body>
</html>