<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">
</head>
<body>
    <nav>
        <a href="{{ url_for('home.index') }}">Inicio</a>
        <a href="{{ url_for('home.sobre') }}">Sobre</a>
    </nav>
    <h1>Faça seu Cadastro</h1>
    <div class="container">

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form action="{{ url_for('Login.inserir') }}" method="post">
            <p>Usuário:</p>
            <input type="text" placeholder="Seu Usuário" name="usuario">
            <p>Senha:</p>
            <input type="password" placeholder="Sua Senha" name="senha">
            <p>Email:</p>
            <input type="email" placeholder="Seu Email" name="email">
            <p>Data de Nascimento:</p>
            <input type="date" name="data" max="2011-01-01" required>
            <button>Cadastrar!</button>
            <a href="{{ url_for('Login.login') }}">Já tem uma conta? Faça login aqui.</a>
        </form>
        <button id="btn"></button>
    </div>
<script src="{{ url_for('static', filename='script/modes.js') }}"></script>
<script src="{{ url_for('static', filename='script/timer.js') }}"></script>
</body>
</html>
