<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='feedback.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">
</head>
<body>
    <nav>
      <div class="nav-links">
            <span class="welcome-msg">Bem vindo {{ session['usuario_nome'] }}!</span>
            <a href="{{ url_for('home.sobre') }}">Sobre</a>
            <a href="{{ url_for('Login.logout') }}">Logout</a>
            <a href="{{ url_for('home.index') }}">Inicio</a>
            <a href="{{ url_for('profile.perfil') }}" class="profile-link">
                <img src="{{ session['usuario_image'] }}" alt="perfil">
            </a>
            <a href="{{ url_for('carrinho.carrinho') }}" class="profile-link">
                <img src="{{ url_for('static', filename='img/carrinho.webp') }}" alt="carrinho">
            </a>
      </div>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form action="{{ url_for('feed.enviar') }}" method="post">
            <textarea name="comentario" placeholder="O que achou do ChatEat?"></textarea>
            <select name="nota">
                <option value="5">⭐⭐⭐⭐⭐ (Excelente)</option>
                <option value="4">⭐⭐⭐⭐ (Bom)</option>
                <option value="3">⭐⭐⭐ (Médio)</option>
                <option value="1">⭐ (Ruim)</option>
            </select>
            <button type="submit">Enviar</button>
        </form>
        <button id="btn"></button>
    </div>
<script src="{{ url_for('static', filename='script/timer.js') }}"></script>
<script src="{{ url_for('static', filename='script/modes.js') }}"></script>
</body>
</html>
