<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InteractChat</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav class="menu">
        <div class="brand">
            <img class="logo" src="{% static 'logo.svg' %}" alt="InteractChat">
            <span>InteractChat</span>
        </div>
        <div class="menu-links">
        {% if 'user_id' in request.session %}
            <a href="#">
                <img src="{{ user.img }}">
            </a>
            <a href="#">
                Chats
            </a>
            <a href="#">
                Amizades
            </a>
        {% else %}
            <a href="/login/">
                Login
            </a>
            <a href="/cadastro/">
                Cadastro
            </a>
        {% endif %}
        </div>
    </nav>
    <div class="search">
        <input type="text" placeholder="Busca por id">
    </div>
    <div class="main">
        {% for user in users %}
        <a class="card" href="{% url 'user_profile' user.id %}">
            <img src="{{ user.img }}">
            <p>{{ user.nome }}</p>
            <p>{{ user.bio }}</p>
            <p>{{ user.descricao }}</p>
        </a>
        {% endfor %}
    </div>
</body>
</html>
