<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InteractChat</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav class="menu">
        <div class="brand">
            <img class="logo" src="{% static 'logo.svg' %}" alt="InteractChat">
            <span>InteractChat</span>
        </div>
        <div class="menu-links">
        {% if current_user %}
            <a href="{% url 'user_profile' current_user.id %}">
                {% if current_user.img %}
                    <img src="{{ current_user.img.url }}" alt="Perfil">
                {% else %}
                    <img src="{% static 'img/icon.jpeg' %}" alt="Perfil">
                {% endif %}
            </a>
            <a href="/logout/">
                <span style="color: red;">Sair</span>
            </a>
            <a href="#">
                Chats
            </a>
            <a href="#">
                Amizades
            </a>
        {% else %}
            <a href="/login/">
                Login
            </a>
            <a href="/cadastro/">
                Cadastro
            </a>
        {% endif %}
        </div>
    </nav>
    <div class="search">
        <input type="text" placeholder="Busca por id">
    </div>
    <div class="main">
        {% for user in users %}
        <a class="card" href="{% url 'user_profile' user.id %}">
            {% if user.img %}
                <img src="{{ user.img.url }}" alt="{{ user.nome }}">
            {% else %}
                <img src="{% static 'img/icon.jpeg' %}" alt="{{ user.nome }}">
            {% endif %}
            <p>{{ user.nome }}</p>
            <p>{{ user.bio }}</p>
            <p>{{ user.descricao }}</p>
        </a>
        {% endfor %}
    </div>
</body>
</html>
