<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empréstimo de Livro</title>
    <link rel="stylesheet" href="../static/emprestar.css">
</head>
<body>

<nav class="navbar">
    <div class="nav-brand">📚 Biblioteca</div>
    {%if session.get('is_admin')%}
    <ul class="nav-links">
        <li><a href="/index">Voltar</a></li>
        <li><a href="/editar">Editar livros</a></li>
        <li><a href="/deletar">Remover livros</a></li>
        <li><a href="/add_livros">Adicionar livros</a></li>
    </ul>
    {% endif %}
    <ul class="nav-links">
        <li><a href="/index">Voltar</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    <div class="nav-user">Admin</div>
</nav>

<div class="container">
    <div class="card">
        {%if session.get('is_admin')%}
        <h1>Emprestar Livro</h1>
        {% else %}
        <h1>Pedir Livro</h1>
        {% endif %}

        <form method="POST" action="/emprestimo_method">
            <div class="form-group">
                <label>Livro</label>
                <select name="id_livro" required>
                    <option value="">Selecione um livro</option>
                    {% for livro in livros %}
                        <option value="{{ livro.id_livro }}">
                            {{ livro.titulo }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            {%if session.get('is_admin')%}
            <div class="form-group">
                <label>Nome da Pessoa</label>
                <input type="text" name="nome_pessoa" required>
            </div>
            {% endif %}

            <div class="form-group">
                <label>Data do Empréstimo</label>
                <input type="date" name="data_emprestimo" required>
            </div>

            <div class="form-group">
                <label>Data de Devolução</label>
                <input type="date" name="data_devolucao" required>
            </div>
            {%if session.get('is_admin')%}
            <div class="form-group">
                <label>Preço</label>
                <input type="number" name="valor" step="0.01" min="0" required>
            </div>
            {% endif %}
            <div class="form-group">
                <label>Preço(fixo)</label>
                <p value="10,00">R$ 10,00</p>
            </div>
            {%if session.get('is_admin')%}
            <button type="submit">Confirmar Empréstimo</button>
            {% else %}
            <button type="submit">Confirmar Empréstimo (R$ 10,00)</button>
            {% endif %}
        </form>
    </div>
</div>

</body>
</html>
