<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vale Ler</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-brand">📚 Biblioteca</div>
            <ul class="nav-links">
                <li><a href="#">Adicionar livros</a></li>
                <li><a href="#">Emprestar livros</a></li>
                <li><a href="#">Devolver livro</a></li>
            </ul>
        <div class="nav-user">
            <span>Admin</span>
        </div>
    </nav>
    <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Editora</th>
            <th>Ano</th>
            <th>ISBN</th>
            <th>Categoria</th>
            <th>Total de Unidades</th>
            <th>Unidades Disponíveis</th>
            <th>Data de Cadastro</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Exemplo de Livro</td>
            <td>Autor Exemplo</td>
            <td>Editora X</td>
            <td>2024</td>
            <td>9781234567890</td>
            <td>Tecnologia</td>
            <td>10</td>
            <td>7</td>
            <td>2026-02-02</td>
        </tr>
    </tbody>
</table>
</body>
</html>