<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vale Ler</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/img/valeLer.png" type="image/x-icon">
</head>
<body>
    <nav class="navbar">
        <div class="nav-brand">📚 Biblioteca</div>
            <ul class="nav-links">
                <li><a href="/add_livros">Adicionar livros</a></li>
                <li><a href="#">Emprestar livros</a></li>
                <li><a href="#">Devolver livro</a></li>
                <li><a href="">Remover Livros</a></li>
            </ul>
        <div class="nav-user">
            <span>Admin</span>
        </div>
    </nav>
    {% for livro in livros%}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Editora</th>
                <th>Ano</th>
                <th>ISBN</th>
                <th>Categoria</th>
                <th>Total de Unidades</th>
                <th>Unidades Disponíveis</th>
                <th>Data de Cadastro</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{livro.id_livro}}</td>
                <td>{{livro.titulo}}</td>
                <td>{{livro.autor}}</td>
                <td>{{livro.editora}}</td>
                <td>{{livro.ano_publicacao}}</td>
                <td>{{livro.isbn}}</td>
                <td>{{livro.categoria}}</td>
                <td>{{livro.total_unidades}}</td>
                <td>{{livro.unidades_disponiveis}}</td>
                <td>{{livro.data_cadastro}}</td>
            </tr>
        </tbody>
        {% endfor%}
</table>
</body>
</html>