*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #36393F;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20%;
}
h1{
    font-size: 50px;
    color: white;
    text-align: center;
    top: auto;
}
nav{
    background-color: #2F3136;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 15px;
}
nav a:hover{        
    text-decoration: underline;
} 
.container {
    background-color: palegoldenrod;
    width: 90%;          
    max-width: 500px;    
    min-height: 400px;   
    height: auto;        
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
    margin: 20px auto; 
    padding: 30px 20px;  
}
.container p{
    color: black;
    font-size: 20px;
}